<!--! Header -->
<header>
  <div class='container-md'>
    <div class='row'>
      <!--! Header logo -->
      <div class='header__logo col-lg-2 col-xl-3 col-md-4 col-6'>
        <img
          src='https://bizweb.dktcdn.net/100/429/689/themes/825316/assets/logo.png?1632820218125'
          alt='logo'
        />
      </div>
      <!--! Header content -->
      <div class='header__content col-lg-8 col-xl-7 col-md-5 col-10 hiden-md'>
        <!--! Header search -->
        <div class='header__search'>
          <form class='d-flex align-items-center'>
            <input
              class='header__search-btn'
              type='text'
              required
              placeholder='Tìm kiếm sản phẩm...'
            />
            <button class='header__search-icon-btn' type='submit'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='25'
                height='25'
                fill='currentColor'
                class='bi bi-search'
                viewBox='0 0 16 16'
              >
                <path
                  d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'
                ></path>
              </svg>
            </button>
          </form>
        </div>
        <!--! Header user -->
        <div class='header__user hiden-lg'>
          <div class='header__user-phone d-flex'>
            <img
              src='https://bizweb.dktcdn.net/100/429/689/themes/825316/assets/call.svg?1627533814663'
              alt='phone'
            />
            <div class='header__user-phone-content'>
              <p>Tư vấn hổ trợ</p>
              <a href='tel:0834611599'>0834611599</a>
            </div>
          </div>
          <div class='header__user-login d-flex'>
            <img
              src='https://bizweb.dktcdn.net/100/429/689/themes/825316/assets/users.svg?1627533814663'
              alt='phone'
            />
            <div class='header__user-login-content'>
              <p>Xin chào!</p>
              <button
                type='button'
                class='btn btn-login-user'
                data-bs-toggle='modal'
                data-bs-target='#exampleModal'
              >Đăng nhập</button>
            </div>
          </div>
        </div>
      </div>
      <!--! Header group -->
      <div class='header__group col-lg-2 col-md-3 col-6'>
        <div class='header__group-like'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='16'
            height='16'
            fill='currentColor'
            class='bi bi-heart'
            viewBox='0 0 16 16'
          >
            <path
              d='m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z'
            ></path>
          </svg>
          <span class='header__group-noti'>0</span>
        </div>
        <div class='header__group-cart'>
          <div class='header__group-cart-icon'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='16'
              height='16'
              fill='currentColor'
              class='bi bi-bag'
              viewBox='0 0 16 16'
            >
              <path
                d='M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z'
              ></path>
            </svg>
            <span class='header__group-noti'>0</span>
          </div>
          <!--! Header cart buy -->
          <div class='header__group-yes-cart'>
            <div class='header__group-yes-cart-title'>
              <h3>Giỏ hàng của bạn:</h3>
              <div class='icon-exit'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  fill='currentColor'
                  class='bi bi-x-lg'
                  viewBox='0 0 16 16'
                >
                  <path
                    d='M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z'
                  ></path>
                </svg>
              </div>
            </div>
            <ul class='product__cart'></ul>
            <div class='product__footer'>
              <div class='product__footer-sum'>
                <span>Tổng tiền:</span>
                <span class='d-flex'>
                  <p class='total-pay'></p>
                </span>
              </div>
              <button class='product__footer-btn-payment'>Thanh Toán</button>
            </div>
          </div>
        </div>
        <div class='header__group-compare'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='16'
            height='16'
            fill='currentColor'
            class='bi bi-shuffle'
            viewBox='0 0 16 16'
          >
            <path
              fill-rule='evenodd'
              d='M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z'
            ></path>
            <path
              d='M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z'
            ></path>
          </svg>
          <span class='header__group-noti'>0</span>
        </div>
      </div>
    </div>
  </div>

</header>