<!--! Content -->

<!--! Banner -->
<div class="banner">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="5"
        aria-label="Slide 6"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="6"
        aria-label="Slide 7"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://cf.shopee.sg/file/3ea714f252a0d4e68c1582842cd8a7e5_xxhdpi"
          class="d-block w-100"
          alt=""
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://cf.shopee.sg/file/ac8530797440f2f1225e246b856716bc_xxhdpi"
          class="d-block w-100"
          alt=""
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://cf.shopee.sg/file/d57225446d50b1c7f4546216dd478f57_xxhdpi"
          class="d-block w-100"
          alt=""
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://cf.shopee.sg/file/846455b209383e049a3dcf98734510b7_xxhdpi"
          class="d-block w-100"
          alt=""
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://cf.shopee.sg/file/560ba04b681b75a2b78ddde309d630a5_xxhdpi"
          class="d-block w-100"
          alt=""
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://cf.shopee.sg/file/30b059d080ecf58cebf3615af9e3d96d_xxhdpi"
          class="d-block w-100"
          alt=""
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://cf.shopee.sg/file/aaa47305aa46b9f7de8fa8cd81827cdc_xxhdpi"
          class="d-block w-100"
          alt=""
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
          ></path>
        </svg>
      </span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          ></path>
        </svg>
      </span>
    </button>
  </div>
</div>

<!--! Section category -->
<div class="section__category">
  <div class="section__category-content">
    <a class="section__category-item" href="">
      <img
        src="https://bizweb.dktcdn.net/thumb/small/100/429/689/collections/icon1.png?v=1623548877697"
        alt=""
      />
      <span>Điện thoại - Máy tính bảng</span>
    </a>
    <a class="section__category-item" href="">
      <img
        src="https://bizweb.dktcdn.net/thumb/small/100/429/689/collections/icon2.png?v=1623549042517"
        alt=""
      />
      <span>Phụ kiện - Thiết bị số</span>
    </a>
    <a class="section__category-item" href="">
      <img
        src="https://bizweb.dktcdn.net/thumb/small/100/429/689/collections/icon3.png?v=1623549208523"
        alt=""
      />
      <span>Máy ảnh - Máy quay phim</span>
    </a>
    <a class="section__category-item" href="">
      <img
        src="https://bizweb.dktcdn.net/thumb/small/100/429/689/collections/icon4s.png?v=1623549444870"
        alt=""
      />
      <span>Điện gia dụng - Nhà bếp</span>
    </a>
    <a class="section__category-item" href="">
      <img
        src="https://bizweb.dktcdn.net/thumb/small/100/429/689/collections/icon5.png?v=1623549644967"
        alt=""
      />
      <span>Laptop - Thiết bị IT</span>
    </a>
    <a class="section__category-item" href="">
      <img
        src="https://bizweb.dktcdn.net/thumb/small/100/429/689/collections/icon6.png?v=1623549755877"
        alt=""
      />
      <span>Máy chơi game - Trò chơi</span>
    </a>
    <a class="section__category-item" href="">
      <img
        src="https://bizweb.dktcdn.net/thumb/small/100/429/689/collections/icon7.png?v=1623549900997"
        alt=""
      />
      <span>Trang sức - Sành điệu</span>
    </a>
    <a class="section__category-item" href="">
      <img
        src="https://bizweb.dktcdn.net/thumb/small/100/429/689/collections/icon8.png?v=1623550072027"
        alt=""
      />
      <span>Thời trang - làm đẹp</span>
    </a>
    <a class="section__category-item" href="">
      <img
        src="https://bizweb.dktcdn.net/thumb/small/100/429/689/collections/icon9s.png?v=1623550441417"
        alt=""
      />
      <span>Nhà cửa đời sống</span>
    </a>
    <a class="section__category-item" href="">
      <img
        src="https://bizweb.dktcdn.net/thumb/small/100/429/689/collections/icon10.png?v=1623550646920"
        alt=""
      />
      <span>Sách - Tiểu thuyết</span>
    </a>
  </div>
  <div class="section__category-btn">
    <div class="prev-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
        ></path>
      </svg>
    </div>
    <div class="next-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
        ></path>
      </svg>
    </div>
  </div>
</div>

<!--! Section product -->
<div class="section__products">
  <div class="section__products-title">
    <div class="section__products-title-item section__products-phone active">
      <h3>ĐIỆN THOẠI</h3>
      <p>Giảm ngay 1 triệu khi mua online</p>
    </div>
    <div class="section__products-title-item section__products-style">
      <h3>THỜI TRANG</h3>
      <p>Giảm giá cực lớn lên đến 70%</p>
    </div>
    <div class="section__products-title-item section__products-appliances">
      <h3>GIA DỤNG</h3>
      <p>Giá siêu ưu đãi lên đến 30%</p>
    </div>
  </div>
  <div
    class="section__products-content section__products-content-list-phone active"
  >
    <div class="section__products-content-abs">
      <img
        src="https://bizweb.dktcdn.net/100/429/689/themes/825316/assets/banner_1_tab.jpg?1632820218125"
        alt=""
      />
    </div>
    <div class="section__products-content-phone"></div>
    <div class="product__phone-btn">
      <div class="prev-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
          ></path>
        </svg>
      </div>
      <div class="next-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="section__products-content section__products-content-list-style">
    <div class="section__products-content-abs">
      <img
        src="https://bizweb.dktcdn.net/100/429/689/themes/825316/assets/banner_2_tab.jpg?1632820218125"
        alt=""
      />
    </div>
    <div class="section__products-content-style"></div>
    <div class="product__style-btn">
      <div class="prev-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
          ></path>
        </svg>
      </div>
      <div class="next-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
  <div
    class="section__products-content section__products-content-list-appliances"
  >
    <div class="section__products-content-abs">
      <img
        src="https://bizweb.dktcdn.net/100/429/689/themes/825316/assets/banner_3_tab.jpg?1632820218125"
        alt=""
      />
    </div>
    <div class="section__products-content-appliances"></div>
    <div class="product__appliances-btn">
      <div class="prev-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
          ></path>
        </svg>
      </div>
      <div class="next-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>

<!--! section tech -->
<div class="list__item">
  <div class="heading-item row">
    <div class="heading__block col-xl-2 col-md-3 col-sm-5 col-7">
      <a href="">ĐỒ CÔNG NGHỆ</a>
    </div>
    <ul class="col-xl-10 col-md-9 title-block hiden-lg">
      <li class="title-item"><a href="">
          Điện thoại - máy tính bảng
        </a></li>
      <li class="title-item"><a href="">
          Phụ kiện - Thiết bị số
        </a></li>
      <li class="title-item"><a href="">
          Máy ảnh - Quay phim
        </a></li>
      <li class="title-item"><a href="">
          Điện gia dụng - Nhà bếp
        </a></li>
      <li class="title-item"><a href="">
          Laptop - Thiết bị IT
        </a></li>
    </ul>
  </div>
  <div class="list__item-content row">
    <div class="list__item-content-abs col-lg-3 col-12 row">
      <div
        id="carouselExampleControls"
        class="carousel slide col-lg-12 col-6"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://bizweb.dktcdn.net/100/429/689/themes/825316/assets/banner_2.jpg?1632820218125"
              class="d-block w-100"
              alt=""
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://bizweb.dktcdn.net/100/429/689/themes/825316/assets/banner_1.jpg?1632820218125"
              class="d-block w-100"
              alt=""
            />
          </div>
        </div>
      </div>
      <div
        id="carouselExampleControls"
        class="carousel slide col-lg-12 col-6"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://bizweb.dktcdn.net/100/429/689/themes/825316/assets/banner_1.jpg?1632820218125"
              class="d-block w-100"
              alt=""
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://bizweb.dktcdn.net/100/429/689/themes/825316/assets/banner_2.jpg?1632820218125"
              class="d-block w-100"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="list__item-content-products list__techs col-lg-9 col-12">
      <div class="row"></div>
    </div>
  </div>
</div>

<!--! section fashion -->
<div class="list__item">
  <div class="heading-item row">
    <div class="heading__block col-xl-2 col-md-3 col-sm-5 col-7">
      <a href="">Thời trang</a>
    </div>
    <ul class="col-xl-10 col-md-9 title-block hiden-lg">
      <li class="title-item"><a href="">
          Thời trang nữ
        </a></li>
      <li class="title-item"><a href="">
          Thời trang nam
        </a></li>
      <li class="title-item"><a href="">
          Đồng hồ & Trang sức
        </a></li>
      <li class="title-item"><a href="">
          Giày dép nữ
        </a></li>
      <li class="title-item"><a href="">
          Giày dép nam
        </a></li>
    </ul>
  </div>
  <div class="list__item-content row">
    <div class="list__item-content-abs col-lg-3 col-12 row">
      <div
        id="carouselExampleControls"
        class="carousel slide col-lg-12 col-6"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://bizweb.dktcdn.net/100/429/689/themes/825316/assets/banner_fashion_2.jpg?1634026773707"
              class="d-block w-100"
              alt=""
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://bizweb.dktcdn.net/100/429/689/themes/825316/assets/banner_fashion_1.jpg?1634026773707"
              class="d-block w-100"
              alt=""
            />
          </div>
        </div>
      </div>
      <div
        id="carouselExampleControls"
        class="carousel slide col-lg-12 col-6"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://bizweb.dktcdn.net/100/429/689/themes/825316/assets/banner_fashion_1.jpg?1634026773707"
              class="d-block w-100"
              alt=""
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://bizweb.dktcdn.net/100/429/689/themes/825316/assets/banner_fashion_2.jpg?1634026773707"
              class="d-block w-100"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="list__item-content-products list__fashion col-lg-9 col-12">
      <div class="row"></div>
    </div>
  </div>
</div>

<!--! suggest today -->
<div class="section__suggest">
  <div class="heading-item row">
    <div class="heading__block col-xl-2 col-md-3 col-sm-5 col-7">
      <a href="">GỢI Ý HÔM NAY</a>
    </div>
    <div class="section__suggest-btn col-xl-10 col-md-9 col-sm-7 col-5">
      <div class="prev-suggest-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
          ></path>
        </svg>
      </div>
      <div class="next-suggest-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="section__suggest-products"></div>
</div>

<!-- ! section newspaper -->
<div class="section__newspaper">
  <div class="heading-item row">
    <div class="heading__block col-xl-2 col-md-3 col-sm-5 col-7">
      <a href="">TIN TỨC HÔM NAY</a>
    </div>
  </div>
  <div class="section__newspapper-products row"></div>
</div>